<p id="notice"><%= notice %></p>

<h1>Administration Logs</h1>
<table class="table table-responsive">
<tbody>
<h3>Current Logs</h3>
It's <%= Time.now %>
We have <%= pluralize(@total_orders, "order") %>.
</tbody>
</table>
